<!DOCTYPE html>
<html>
<head>
	<%- include ./header %>
</head>
<body data-spy="scroll" data-target="#navbar-example">
	<%- include ./menu  %>
	<div class="container">
		 <table class="tableProductosConfigura panel-body">
        	<thead>
                <tr>
                    <th style="padding-left:15px">Cantidad</th>
                    <th style="padding-left:15px">Producto</th>
                    <th style="padding-left:15px">Precio</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < tipos.length; i++){ %>
	                <tr>
	                    	<td class="col-lg-1 col-sm-1 col-xs-1"><input type="number" class="input-group cantidad"></td>
							<td class="form-group form-group-sm col-lg-9 col-sm-9 col-xs-9">
								<div class="input-group form-group-sm" id="productoConfigurarSelect">
									<span class="input-group-addon" ><i class="fa fa-product-hunt productoConfigurar" aria-hidden="true"></i></span>
									<select class="form-control selectpicker precio" name="producto" aria-describedby="sizing-addon3">
										<option selected="selected" class="default">Escoje una <%= tipos[i] %></option>
										<% productos.forEach( function (producto){ %>
											<% if (producto.tipo == tipos[i]) { %>
												<option value="<%= producto.precio %>" data-content='<img src="<%= producto.foto %>" width="2.5%"> <%= producto.nombre %> - precio unitatio : <%= producto.precio %>'></option>
											<% } %>
										<% }); %>
									</select>
								</div>
							</td>
							<td class="col-lg-2 col-sm-2 col-xs-2">
								<label class="label label-default" style="font-size: 15px">0</label>
							</td>
						</div>
	            	</tr>
	            <% } %>
	        </tbody>
	    </table>
	</div>
    <%- include ./footer %>
</body>
</html>