<!DOCTYPE html>
<html>
<head>
	<%- include ./header %>
</head>
<body data-spy="scroll" data-target="#navbar-example">
	<%- include ./menu %>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="https://gaming.msi.com/wp-content/uploads/2015/02/Front_Banner_BATSUP_1920-x-550_v1.jpg" alt="oferta placa base">
			</div>

			<div class="item">
				<img src="https://gaming.msi.com/wp-content/uploads/2015/02/msi-x99s_z97_gaming_9_ack-banner-1920x5502.jpg" alt="oferta placa base">
			</div>

			<div class="item">
				<img src="https://gaming.msi.com/wp-content/uploads/2015/03/Z170_Frontpage-banner-.psd_1920-x-550.jpg" alt="oferta placa base">
			</div>

			<div class="item">
				<img src="https://gaming.msi.com/wp-content/uploads/2015/02/msi-r9_390-hitman_bundle-frontpage_banner-1920x550-1.jpg" alt="oferta placa base">
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<div id="masvendidos" class="container">
		<h1 id="masvendidosH1">Mas Valorados</h1>
		<div class="row">
			<table class="tableProductos">
                <tbody>
				<% productos.forEach( function (producto){ %>
					<tr class="thumbnail col-lg-4 col-sm-6 col-xs-12">
						<form action='/user/home/anadeProductoCarrito' method='POST'>
							<td class="col-lg-12 col-sm-6 col-xs-12">
	                            <% if (alias != ""){ %>
	                                <button type="submit" class="btn btn-primary" style="float: right" id="comprar" value="comprar"><i class="fa fa-shopping-cart"></i></button>
	                            <% } %>
	                            <input name="id" class="text-hide" value="<%= producto._id %>">
	                            <div class="col-lg-12 col-sm-12 col-xs-12">
	                                <img class="img-square center-block" src="<%= producto.foto %>" height="200" width="200">
	                            </div>
	                            <div class="col-lg-12 col-sm-12 col-xs-12">
	                                <h4 class="h4"><%= producto.nombre %></h4>
	                            </div>
                                <p id="idProducto" class="hidden"><%= producto._id%></p>
	                            <div class="col-lg-12 col-sm-12 col-xs-12">
	                                <p hidden><%= producto.descripcion %></p>
	                                <h2><span class="label label-success" style="float: left"><%= producto.precio %>€</span></h2>
	                                <button title="detalles del producto" class="btn btn-primary botonProducto" style="float: right" type="button" data-toggle="modal" data-target="#productoModal">más»</button>
	                            </div>
	                            <div class="col-lg-12 col-lg-offset-5 col-sm-12 col-xs-12">
	                                <% if(producto.valoracion.length == 0 || producto.valoracion.length == undefined){ %>
                                    	<input class="rating" value="0" data-readonly="true"/>
                                    <% }else{ %>
	                                    <% var valor = 0 %>
	                                    <% producto.valoracion.forEach(function(valoracion){ %>
	                                    <%      valor=valor+valoracion.valor; %>
	                                    <% }); %>
	                                    <% valor = valor/producto.valoracion.length %>
	                                    <input class="rating" value="<%= valor %>" data-readonly="true"/>
                                    <% } %>
	                            </div>
	                        </td>
						</form>
					</tr>
				<% }); %>
				</tbody>
			</table>
		</div>
	</div>
	<%- include ./footer %>
</body>
</html>
