	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Mostrar Menú</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" id="AlKa" href="<%= home %>">AlKa</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a class="dropdown-toggle menu" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menú <span class="glyphicon glyphicon-collapse-down"></span></a>
						<ul class="dropdown-menu multi-level" role="menu">
							<li class="dropdown-submenu menu" role="menu">
								<a href="<%= componentes %> " class="dropdown-hover">Componentes</a>
								<ul class="dropdown-menu">
									<li><a href="<%= placaBase %> " class="menu" tabindex="-1">Placa Base</a></li>
									<li><a href="<%= procesadores %>" class="menu" tabindex="-1">Procesadores</a></li>
								</ul>
							</li>
							<li class="divider"></li>
							<li><a href="#" class="menu">Configuracia tu PC</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<div class="navbar-form navbar-left">
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-primary btn-lg" type="button">Buscar</button>
							</span>
							<input type="text" class="form-control input-lg">
						</div>
						<button type="button" class="btn btn-primary btn-lg" data-toggle="<%= modal %>" data-target="<%= nameTarget %>"><i class="fa fa-key"> <%= entrarSalir %></i></button>
						<% if (entrarSalir != "Log In") { %>
							<button type="button" class="btn btn-lg btn-primary dropdown-toggle carritoBtn" data-toggle="dropdown" data-hover="dropdown" role="button">
								<i class="fa fa-shopping-cart">&nbsp</i>
								<%if (carrito != undefined){%>
									<span class="badge"><%= carrito.length%></span>
								<%}%>
							</button>
						<% } %>
						<div class="dropdown-menu container-fluid panel panel-primary">
							<div class="panel-heading text-center"><h4><b>Carrito</b></h4></div>
                            <%if (carrito != undefined){%>
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Foto</th>
                                            <th colspan="3">Nombre</th>
                                            <th>Precio</th>
                                            <th>Descartar</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <% for (var i = 0; i < carrito.length; i++){ %>
                                            <form method="POST" action="/user/home/quitarProductoCarrito">
                                                <input type="text" class="text-hide" name="idProductoCarrito" value="<%= carrito[i]._id %>">
                                                <tr>
                                                    <td>
                                                        <img src="<%= carrito[i].foto %>" width="100" height="100" display="block"/>
                                                    </td>
                                                    <td colspan="3">
                                                        <h4><%= carrito[i].nombre %></h4>
                                                    </td>
                                                    <td>
                                                        <p class="precioCarrito"><%= carrito[i].precio %>€</p>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger col-lg-12" type="submit">
                                                          <i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i>
                                                        </button>	
                                                    </td>
                                                </tr>
                                            
                                        <%}%>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <a href="/user/home/pedido"><button type="button" class="btn btn-default">Realizar Pedido</button></a>
                                                </form>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            <%}%>                            
						</div>
					</div>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="modal fade" id="myModal" role="dialog" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Sign In</h4>
					</div>
					<div class="modal-body col-lg-12">
						<ul class="nav nav-pills nav-pills-primary col-lg-offset-3 col-lg-6">
							<li role="presentation" class="active col-lg-5"><a data-toggle="tab" href="#login">Log In</a></li>
							<li role="presentation" class="col-lg-5"><a data-toggle="tab" href="#register">Register</a></li>
						</ul>
						<div class="tab-content col-lg-12">
							<div id="login" class="tab-pane fade in active">
								<br/>
								<form action="/home/login" method="post" id="formLogin" role="form" data-toggle="validator">
									<div class="form-group form-group-sm">
										<div class="input-group form-group-sm">
											<span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-user"></span></span>
											<input type="text" class="form-control" name="alias" placeholder="Usuari" aria-describedby="sizing-addon3">
										</div>
									</div>
									<div class="form-group form-group-sm">
										<div class="input-group form-group-sm">
											<span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-asterisk"></span></span>
											<input type="password" class="form-control" name="contrasena" placeholder="Contraseña" aria-describedby="sizing-addon3">
										</div>
									</div>
									<input type="submit" value="Entrar" id="login" name="login" class="btn btn-primary">
								</form>
							</div>
							<div id="register" class="tab-pane fade">
								<br/>
								<form role="form" data-toggle="validator" action="/home/register" method="POST" id="formRegister">
									<div class="form-group form-group-sm">
										<div class="input-group form-group-sm">
											<span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-user"></span></span>
											<input type="text" class="form-control" name="alias" placeholder="Usuari" aria-describedby="sizing-addon3">
										</div>
									</div>
									<div class="form-group form-group-sm">
										<div class="input-group form-group-sm">
											<span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-asterisk"></span></span>
											<input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Contraseña" aria-describedby="sizing-addon3">
										</div>
									</div>
									<div class="form-group form-group-sm">
										<div class="input-group form-group-sm">
											<span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-asterisk"></span></span>
											<input type="password" class="form-control" name="contrasena2" placeholder="Repite la contraseña" aria-describedby="sizing-addon3">
										</div>
									</div>
									<div class="form-group form-group-sm">
										<div class="input-group form-group-sm">
											<span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-envelope"></span></span>
											<input type="text" class="form-control" name="correo" id="correo" placeholder="Correo" aria-describedby="sizing-addon3">
										</div>
									</div>
									<input type="submit" value="Registrarse" id="registrar" name="registrar" class="btn btn-primary">
								</form>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="modal fade" id="profileModal" role="dialog" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Bienvenido <%= alias %></h4>
					</div>
					<div class="modal-body col-lg-12">
						<div class="list-group">
							<a href="/user/home/miperfil" class="list-group-item">
								<i class="fa fa-user fa-2x" aria-hidden="true"></i>
								Editar mi perfil
							</a>
							<a href="/user/home/mispedidos" class="list-group-item">
								<i class="fa fa-cubes fa-2x" aria-hidden="true"></i>
								Mis pedidos
							</a>
							<a href="/user/home/mispuntos" class="list-group-item">

								Mis puntos
							</a>
						</div>
						<form action="/user/home/logout" method="get" accept-charset="utf-8">
							<button type="submit" class="btn btn-danger">Log Out</button>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>