<!DOCTYPE html>
<html>
<head>
	<%- include ./header %>
</head>
<body data-spy="scroll" data-target="#navbar-example">
	<%- include ./menu  %>
    <div class="col-lg-1 col-md-1 col-xs-1 continer" style="margin-top: 250px">
        <table>
            <thead>
                <tr>
                    <th>Marcas</th>
                </tr>
            </thead>
            <tbody >
                <form method="post" action="<%= accionFiltrar %>">
                    <%  var marcado = "", yaMarcado = true;
                        for( i = 0; i < marcas.length; i++){
                    %>
                        <tr>
                            <td>
                                <input type="checkbox" name="marcas" value="<%= marcas[i].nombre %>" <%= marcasMarcadas[i] %>/><b><%= marcas[i].nombre %></b>
                            </td>
                        </tr>
                    <% 
                        }
                    %>
            </tbody>
        </table>
                    <input type="submit" value="Filtrar" id="filtrar" name="filtrar" class="btn btn-primary">
                </form>
    </div>
	<div id="about" class="col-lg-10 col-sm-10 col-sm-offset-0 col-xs-10 col-xs-offset-1">
		<!-- Título de la página -->
		<h1 id="titulo"><%= titulo %></h1>
        <div class="panel panel-default">
            <div class="panel-heading col-lg-12 col-sm-12 col-xs-12">
                <div class="col-lg-3 col-lg-offset-9 col-sm-4 col-sm-offset-8 col-xs-8 col-xs-offset-4">
                    <input type="search" id="buscadorProducto" class="form-control" placeholder="Buscador de articulo de la seccion">
                </div>
            </div>
            <table class="tableProductos panel-body" id="searchable-container">
                <tbody>
                    <% var x = 0; productos.forEach( function (producto){ %>
                        <tr class="thumbnail col-lg-4 col-sm-6 col-xs-12 col-xs-offset-0 trBusqueda">
                            <form action='/user/home/anadeProductoCarrito' method='POST'>
                                <td class="col-lg-12 col-sm-6 col-xs-12">
                                    <% if (alias != ""){ %>
                                        <button type="submit" class="btn btn-primary" style="float: right" id="comprar" value="comprar"><i class="fa fa-shopping-cart"></i></button>
                                    <% } %>
                                    <input name="id" class="text-hide" value="<%= producto._id %>">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <img class="img-square center-block" src="<%= producto.foto %>" height="200" width="200">
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <h4 class="h4 tdBusqueda"><%= producto.nombre %></h4>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <p hidden><%= producto.descripcion %></p>
                                        <h2><span class="label label-success" style="float: left"><%= producto.precio %>€</span></h2>
                                        <button title="detalles del producto" class="btn btn-primary botonProducto" style="float: right" type="button" data-toggle="modal" data-target="#productoModal">más»</button>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <% if(producto.valoracion.length == 0 || producto.valoracion.length == undefined){ %>
                                            <input class="rating" value="0" data-readonly="true"/>
                                        <% }else{ %>
                                            <% var valor = 0; 
                                                producto.valoracion.forEach(function(valoracion){
                                                    valor=valor+valoracion.valor;
                                                });
                                                valor = valor/producto.valoracion.length;
                                            %>
                                            <input class="rating" value="<%= valor %>" data-readonly="true"/>
                                        <% } %>
                                    </div>
                                    <% x++; %>
                                </td>
                            </form>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <%- include ./footer %>
</body>
</html>