<!DOCTYPE html>
<html>
<head>
	<%- include ./header %>
</head>
<body data-spy="scroll" data-target="#navbar-example">
	<%- include ./menu  %>
	<!-- Parrilla de fotos -->
	<div id="about" class="container marketing">
		<!-- Título de la página -->
		<h1><%= titulo %></h1>
	    <div class="row">
            <% productos.forEach( function( producto ){ %>
                <form action='/anadeProductoCarrito' method='POST'>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <img class="img-circle" src="<%= producto.foto %>" height="140" width="140">
                        <h2 class="nombreProducto"><%= producto.nombre %></h2>
                        <p><%= producto.descripcion %></p>
                        <p>
                            <h2><span class="label label-success" style="float: left"><%= producto.precio %>€</span></h2>
                            <a title="detalles del producto" class="btn btn-default" href="#" role="button" style="float: right">más»</a>
                        <button class="btn btn-default" style="float: right" id="comprar" value="comprar">Comprar</button>
                        </p>
                    </div>
                </form>
            <% }); %>
	    </div>
    </div>
    <%- include("./footer") %>
</body>
</html>