<!DOCTYPE html>
<html>
<head>
	<title>Placa Base</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target="#navbar-example">
	<%- include("./menu") %>
	<!-- Parrilla de fotos -->
	<div id="about" class="container marketing">
		<!-- Título de la página -->
		<h1><%= titulo %></h1>
	    <div class="row">
			<% productos.forEach( function( producto ){ %>
			  	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			  		<img class="img-circle" src="<%= producto.foto %>" height="140" width="140">
			  		<h2><%= producto.nombre %></h2>
			  		<p><%= producto.descripcion %></p>
			  		<p><a class="btn btn-default" href="#" role="button">View details »</a></p>
			  	</div>
			<% }); %>
	    </div>
    </div>
    
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="./bootstrap-hover-dropdown-master/bootstrap-hover-dropdown.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.dropdown-toggle').dropdown();
		});
	</script>

</body>
</html>