<!DOCTYPE html>
<html>
<head>
	<%- include ./header %>
</head>
<body data-spy="scroll" data-target="#navbar-example">
	<%- include ./menu  %>
	<!-- Parrilla de fotos -->
	<div id="about" class="container marketing">
		<!-- Título de la página -->
		<h1><%= titulo %></h1>
	    <div class="row">
			<% productos.forEach( function( producto ){ %>
			  	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			  		<img class="img-circle" src="<%= producto.foto %>" height="140" width="140">
			  		<h2><%= producto.nombre %></h2>
			  		<p><%= producto.descripcion %></p>
			  		<p><a class="btn btn-default" href="#" role="button">View details »</a></p>
			  	</div>
			<% }); %>
	    </div>
    </div>
    <%- include("./footer") %>
</body>
</html>