<div>
  <% productos.forEach( function( producto ){ %>
    <p><%= producto.codigo %></p>
    <p><%= producto.nombre %></p>
    <p><%= producto.descripcion %></p>
    <p><%= producto.tipo %></p>
    <p><%= producto.foto %></p>
  <% }); %>
</div>
